.Perks {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1920px;
    height: 1080px;
    background: #191919 0% 0% no-repeat padding-box;
    opacity: 1;
    align-items: center;
}

.try-btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: end;
    width: 100%;
}

.perks-try-button {
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 284px;
    height: 79px;
    background: transparent linear-gradient(90deg, #1FE1E9 0%, #5E33D1 34%, #D34848 65%, #FFB33F 100%) 0% 0% no-repeat padding-box;
    border-radius: 79px;
    opacity: 1;
}

.perks-try-btn-text{
    text-transform: uppercase;
    display: block;
    text-align: left;
    font: normal normal bold 18px/23px Helvetica Neue;
    letter-spacing: 1.8px;
    opacity: 1;
}

.perks-content {
    width: 85%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.perks-title{
    text-transform: uppercase;
    width: 100%;
    height: 88px;
    text-align: left;
    font: normal normal bold 74px/90px Helvetica Neue;
    letter-spacing: 7.4px;
    color: #FFFFFF;
    opacity: 1;
}

.features{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5%;
    justify-content: space-between;
}

.feature{
    display: flex;
    flex-direction: column;
}

.feature-title{
    margin: 5% 0;
    width: 383px;
    height: 185px;
    text-align: left;
    font: normal normal bold 51px/62px Helvetica Neue;
    letter-spacing: 5.1px;
    opacity: 1;
}
.line{
    width: 104px;
    height: 0;
    border: 3px solid;
    opacity: 1;
}
.feature-description{
    width: 433px;
    height: 163px;
    text-align: left;
    font: normal normal normal 35px/41px Helvetica Neue;
    letter-spacing: 3.5px;
    color: #FFFFFF;
    opacity: 1;
}

.feature:nth-child(1){
    color: #D34848;
}
.feature:nth-child(2){
    color: #1FE1E9;
}
.feature:nth-child(3){
    color: #FFB33F;
}

