.Yellow {
    scroll-snap-align: start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 1920px;
    height: 1080px;
    background: #FFB33F 0% 0% no-repeat padding-box;
    opacity: 1;
}

.try-btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: end;
}

.yellow-try-btn{
    cursor: pointer;
    margin-right: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 62px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 79px;
    opacity: 1;
}

.yellow-try-btn-text{
    text-transform: uppercase;
    display: block;
    text-align: left;
    font: normal normal bold 18px/23px Helvetica Neue;
    letter-spacing: 1.8px;
    color: #FFB33F;
    opacity: 1;
}

.content {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: row;
}

.yellow {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 10%;
}

.yellow-left{
    width: 40%;
}

.yellow-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.yellow-title {
    margin: 10px 0;
    height: 88px;
    text-align: left;
    font: normal normal bold 74px/90px Helvetica Neue;
    text-transform: uppercase;
    letter-spacing: 7.4px;
    color: #FFFFFF;
    opacity: 1;
}

.yellow-description {
    margin: 20px 0;
    width: 879px;
    height: 121px;
    text-align: left;
    font: normal normal normal 51px/61px Helvetica Neue;
    letter-spacing: 5.1px;
    color: #0B0B0B;
    opacity: 1;
}

.yellow-btn {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    width: 338px;
    height: 81px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 79px;
    opacity: 1;
    cursor: pointer;
}

.yellow-btn-text {
    display: inline-block;
    height: 27px;
    font: normal normal bold 23px/28px Helvetica Neue;
    letter-spacing: 2.3px;
    color: #FFB33F;
    opacity: 1;
}
