
.menu {
    top: 0;
    width: 100%;
    position: sticky;
    z-index: 2;
    height: 0;
    text-align: left;
}

.menu-title {
    cursor: default;
    display: inline-block;
    font: normal normal normal 48px/57px Helvetica Neue;
    letter-spacing: 4.8px;
    color: #FFFFFF;
    opacity: 1;
}

.menu-button {
    cursor: pointer;
    vertical-align: sub;
    display: inline-block;
    margin: 5% 2% 0 2%;
}

.menu-button:enabled{
    background: #333331;
}

.menu-unfold{
    padding: 1%;
}

.page {
    cursor: pointer;
    text-transform: uppercase;
    top: 166px;
    left: 83px;
    width: 30%;
    height: 56px;
    text-align: left;
    font: normal normal bold 47px/57px Helvetica Neue;
    letter-spacing: 4.7px;
    color: #FFFFFF;
    opacity: 1;
}

.hide {
    margin-left: 20px;
}